<!DOCTYPE html>
<html lang="en" dir="ltr">


<!-- Mirrored from demo.createdbycocoon.com/drupal/nine/nrgtravel/1/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jan 2018 18:15:32 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>


 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/vnd.microsoft.icon" />
<meta name="Generator" content="Drupal 7 (http://drupal.org)" />
<link rel="alternate" type="application/rss+xml" title="DNTravel RSS" href="rss.xml" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>DNTtravel</title>
    <style type="text/css" media="all">

<%= stylesheet_link_tag "application" %>
</style>

  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700,500' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag "application" %>

</head>


<body class="html front not-logged-in no-sidebars page-node travel" >


        <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '165416884141347',
      xfbml      : true,
      version    : 'v2.12'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


      <div id="loader-wrapper"> 
      <div class="loader-content">
        <div class="cube1 t-cube"></div>
        <div class="cube2 t-cube"></div>
      </div>
    </div>

      <header class="r-header header">
  <div class="container clearfix nopadding">
    <div id="logo">
      <a href=<% home_index_path %>>
        <%= image_tag("logo.png", :alt => "DNTours") %>
      </a>
    </div>
          <div class="menu-button r-menu-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="nav r-nav  clearfix">
          <div class="region region-main-menu">
        
  <div class="content">
    <ul class="ccn-main-menu"><li class="first leaf"><a href="/home/index.html#home" class="active">Home</a></li>
<li class="leaf"><a href="/home/index.html#about" class="active">About us</a></li>
<li class="leaf"><a href="/home/index.html#hot-tours" class="active">Hot tours</a></li>
<li class="leaf"><a href="/home/index.html#services" class="active">Services</a></li>
<li class="leaf"><a href="/home/index.html#gallery" class="active">Gallery</a></li>
<li class="leaf"><a href="/home/index.html#hotel-reviews" class="active">Reviews</a></li>
<li class="leaf"><a href="/home/index.html#blog" class="active">Blog</a></li>
<li class="leaf"><a href="/home/index.html#testimonials" class="active">Testimonials</a></li>
<li class="last leaf"><a href="/home/index.html#contact" class="active">Contact</a></li>
</ul>  </div>  </div>
      </nav>
      </div>
</header>

    <div class="region region-onepage-hero">
    <div id="block-views-db8431d022ce1521cfb1c24c2f8c0b83" class="block block-views">

    
  <div class="content">
    <div class="t-banner scroll-to-block">
<div class="swiper-container"  data-slides-per-view="1" data-loop="1" data-mode="horizontal" >
<div class="swiper-wrapper ">
<div class="swiper-slide background-parent">
<img class="center-image" src="#" alt="img"/>
<div class="container">
<div class="t-banner-content">
        
  
  
          <div class="banner-info">
      
            <div class="banner-price">
     <span>650.000đ</span>/<sub>per person</sub>
  </div>
  <h2>Bà Nà Hills</h2>
  <p>Đến với Bà Nà Hills, du khách sẽ được ngắm nhìn phong cảnh thiên nhiên tuyệt đẹp, chiêm ngưỡng các công trình kiến trúc độc đáo, vui chơi thỏa thích và thưởng thức ẩm thực phong phú.</p>    </div>
  <div class="banner-info">
      
            <div class="banner-price">
     <span></span><sub></sub>
  </div>
  <h2>Cầu Rồng</h2>
  <p>Cầu Rồng là cây cầu thứ 6 và là cây cầu mới nhất bắc qua sông Hàn. Vì cây cầu có hình dáng giống một con rồng nên được gọi là Cầu Rồng</p>    </div>
  <div class="banner-info">
      
            <div class="banner-price">
     <span></span><sub></sub>
  </div>
  <h2>TRUNG TÂM HÀNH CHÍNH THÀNH PHỐ ĐÀ NẴNG</h2>
  <p>Tọa lạc tại ngã tư Trần Phú – Lý Tự Trọng, bên bờ sông Hàn, tòa nhà Trung Tâm Hành Chính Thành phố Đà Nẵng được coi là công trình điểm nhấn cho toàn thành phố, biểu tượng của một Đà Nẵng đang vươn lên theo xu hướng hội nhập toàn cầu.</p>    </div>
  
  
      <div class="info-img">
              
  
  
           <%= image_tag "img1.jpg",class: "travel-click" , :alt => "img", data: { src: "/assets/banahill.jpg"} %>         
           
          <%= image_tag("img2.jpg",class: "travel-click" , :alt => "img", data: { src: "/assets/caurong2.jpg"}) %>       
          
          <%= image_tag("img3.jpg",class: "travel-click" , :alt => "img", data: { src: "/assets/traibap3.jpg"}) %>        
          

      </div>
  
  
  
  </div>
</div>
</div>
</div>
  <div class="pagination pagination-hide t-pagination"></div>
</div>
</div>  </div>
</div>
  </div>