<div class="region region-onepage-hotel-reviews">
    <div id="block-views-a65b94ecbca84bf759eb8d8866091e40" class="block block-views">

    
  <div class="content">
    <section class="hotel-section scroll-to-block">
          <div class="container">
    <div class="t-title-block">
      <%= image_tag("trico5.png", :alt => "img") %>
      <h2 class="block-title t-about-title">hotel reviews</h2>
<p class="sub-title t-sub-title">
  Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus.
</p>    </div>
  </div>
  
  <div class="tab-wrapper">
    
              
  
  
      <div class="tab-nav-wrapper container">
      <div class="nav-tab nav-tab-serv nav-doctor clearfix">
        <div class="nav-tab-item nav-item-serv">
      
          Ngu Hanh Son    </div>
  <div class="nav-tab-item nav-item-serv">
      
          Hoa Vang    </div>
  <div class="nav-tab-item nav-item-serv">
      
          Son Tra    </div>
  <div class="nav-tab-item nav-item-serv">
      
          Hoi An    </div>
  
    </div></div>
  
  
  
  
  
    
      <div class="tabs-content clearfix">
      
	<div class="tab-info">
<div class="team-container">
<div class="team-info">
  <div class="team-member-container active clearfix">
      
          <div class="hotel-block clearfix">
  <div class="hotel-slider">
    <div class="swiper-container" data-slides-per-view="1" data-loop="1" data-mode="vertical">
      <div class="swiper-wrapper">
        <div class="item-list"><ul><li class="first"><%= image_tag("Vinpearl4.jpg", typeof: "foaf:Image", :alt => "img", size: "1024x768") %></li>
<li><%= image_tag("Vinpearl3.jpg", typeof: "foaf:Image", :alt => "img", size: "1024x768") %></li>
<li class="last"><%= image_tag("Vinpearl1.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("Vinpearl5.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("Vinpearl6.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("Vinpearl8.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
</ul></div>
      </div>
      <div class="pagination vertical-pagination"></div>
    </div>
  </div>
  <div class="hotel-info">
    <div class="hotel-info-container">
      <div><i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i></div>
      <h3>Vinpearl Da Nang Villas</h3>
      <p>Nullam bibendum odio a sem bibendum, ut vestibulum ipsum porttitor. Sed finibus nec orci et cursus. Vestibulum facilisis rhoncus tempor. Duis non ipsum volutpat, rhoncus nisi sed, pulvinar ex augue.</p>
       <div class="field-features-sw-hotel-info-list">
         <div class="item-list"><ul><li class="first"><span>Free</span> wifi</li>
<li><span>128</span> rooms</li>
<li><span>79</span> exotic beach villas</li>
<li><span>50</span> luxurious water spas</li>
<li class="last"><span>21</span> fabulous spa water villas</li>
</ul></div>
       </div>
       <div class="t-testimonials-slider">
         <div class="swiper-container" data-mode="horizontal" data-slides-per-view="1" data-loop="1">
           <div class="swiper-wrapper">
             <div class="swiper-slide"><h4>DUC VINH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
              <div class="swiper-slide"><h4>MINH HAU</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
              <div class="swiper-slide"><h4>HOANG BICH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
<div class="swiper-slide"><h4>PHAM DEN</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
<div class="swiper-slide"><h4>VAN ANH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
           </div>
           <div class="pagination pagination-hide"></div>
         </div>
      </div>
    </div>
  </div>
</div>    </div>
  </div>
</div>
</div>



	<div class="tab-info">
<div class="team-container">
<div class="team-info">
  <div class="team-member-container active clearfix">
      
          <div class="hotel-block clearfix">
  <div class="hotel-slider">
    <div class="swiper-container" data-slides-per-view="1" data-loop="1" data-mode="vertical">
      <div class="swiper-wrapper">
        <div class="item-list"><ul><li class="first"><%= image_tag("bana1.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li><%= image_tag("bana2.jpg", typeof: "foaf:Image", :alt => "img", size: "685x800") %></li>
<li><%= image_tag("bana3.jpg", typeof: "foaf:Image", :alt => "img", size: "1024x768") %></li>
<li class="last"><%= image_tag("bana4.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("bana5.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("bana6.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
</ul></div>
      </div>
      <div class="pagination vertical-pagination"></div>
    </div>
  </div>
  <div class="hotel-info">
    <div class="hotel-info-container">
      <div><i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i></div>
      <h3>MERCURE BANAHILLS FRENCH VILLAGE</h3>
      <p>Nullam bibendum odio a sem bibendum, ut vestibulum ipsum porttitor. Sed finibus nec orci et cursus. Vestibulum facilisis rhoncus tempor. Duis non ipsum volutpat, rhoncus nisi sed, pulvinar ex augue.</p>
       <div class="field-features-sw-hotel-info-list">
         <div class="item-list"><ul><li class="first"><span>Free</span> wifi</li>
<li><span>128</span> rooms</li>
<li><span>79</span> exotic beach villas</li>
<li><span>50</span> luxurious water spas</li>
<li class="last"><span>21</span> fabulous spa water villas</li>
</ul></div>
       </div>
       <div class="t-testimonials-slider">
         <div class="swiper-container" data-mode="horizontal" data-slides-per-view="1" data-loop="1">
           <div class="swiper-wrapper">
             <div class="swiper-slide"><h4>DUC VINH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
              <div class="swiper-slide"><h4>MINH HAU</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
              <div class="swiper-slide"><h4>HOANG BICH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
<div class="swiper-slide"><h4>PHAM DEN</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
<div class="swiper-slide"><h4>VAN ANH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
           </div>
           <div class="pagination pagination-hide"></div>
         </div>
      </div>
    </div>
  </div>
</div>    </div>
  </div>
</div>
</div>



	<div class="tab-info">
<div class="team-container">
<div class="team-info">
  <div class="team-member-container active clearfix">
      
          <div class="hotel-block clearfix">
  <div class="hotel-slider">
    <div class="swiper-container" data-slides-per-view="1" data-loop="1" data-mode="vertical">
      <div class="swiper-wrapper">
        <div class="item-list"><ul><li class="first"><%= image_tag("InterContinental1.jpg", typeof: "foaf:Image", :alt => "img", size: "1024x768") %></li>
<li><%= image_tag("InterContinental2.jpg", typeof: "foaf:Image", :alt => "img", size: "685x800") %></li>
<li><%= image_tag("InterContinental3.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("InterContinental4.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("InterContinental5.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("InterContinental6.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("InterContinental7.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
</ul></div>
      </div>
      <div class="pagination vertical-pagination"></div>
    </div>
  </div>
  <div class="hotel-info">
    <div class="hotel-info-container">
      <div><i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i></div>
      <h3>InterContinental Danang Sun Peninsula Resort</h3>
      <p>Nullam bibendum odio a sem bibendum, ut vestibulum ipsum porttitor. Sed finibus nec orci et cursus. Vestibulum facilisis rhoncus tempor. Duis non ipsum volutpat, rhoncus nisi sed, pulvinar ex augue.</p>
       <div class="field-features-sw-hotel-info-list">
         <div class="item-list"><ul><li class="first"><span>Free</span> wifi</li>
<li><span>128</span> rooms</li>
<li><span>79</span> exotic beach villas</li>
<li><span>50</span> luxurious water spas</li>
<li class="last"><span>21</span> fabulous spa water villas</li>
</ul></div>
       </div>
       <div class="t-testimonials-slider">
         <div class="swiper-container" data-mode="horizontal" data-slides-per-view="1" data-loop="1">
           <div class="swiper-wrapper">
             <div class="swiper-slide"><h4>DUC VINH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
              <div class="swiper-slide"><h4>MINH HAU</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
              <div class="swiper-slide"><h4>HOANG BICH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
<div class="swiper-slide"><h4>PHAM DEN</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
<div class="swiper-slide"><h4>VAN ANH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
           </div>
           <div class="pagination pagination-hide"></div>
         </div>
      </div>
    </div>
  </div>
</div>    </div>
  </div>
</div>
</div>


	<div class="tab-info">
<div class="team-container">
<div class="team-info">
  <div class="team-member-container active clearfix">
      
          <div class="hotel-block clearfix">
  <div class="hotel-slider">
    <div class="swiper-container" data-slides-per-view="1" data-loop="1" data-mode="vertical">
      <div class="swiper-wrapper">
        <div class="item-list"><ul><li class="first"><%= image_tag("HoiAnHotel1.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li><%= image_tag("HoiAnHotel2.jpg", typeof: "foaf:Image", :alt => "img", size: "1024x768") %></li>
<li><%= image_tag("HoiAnHotel3.jpg", typeof: "foaf:Image", :alt => "img", size: "685x800") %></li>
<li class="last"><%= image_tag("HoiAnHotel4.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("HoiAnHotel5.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("HoiAnHotel6.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
</ul></div>
      </div>
      <div class="pagination vertical-pagination"></div>
    </div>
  </div>
  <div class="hotel-info">
    <div class="hotel-info-container">
      <div><i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i></div>
      <h3>Hoi An Ancient House Village Resort and Spa</h3>
      <p>Nullam bibendum odio a sem bibendum, ut vestibulum ipsum porttitor. Sed finibus nec orci et cursus. Vestibulum facilisis rhoncus tempor. Duis non ipsum volutpat, rhoncus nisi sed, pulvinar ex augue.</p>
       <div class="field-features-sw-hotel-info-list">
         <div class="item-list"><ul><li class="first"><span>Free</span> wifi</li>
<li><span>128</span> rooms</li>
<li><span>79</span> exotic beach villas</li>
<li><span>50</span> luxurious water spas</li>
<li class="last"><span>21</span> fabulous spa water villas</li>
</ul></div>
       </div>
       <div class="t-testimonials-slider">
         <div class="swiper-container" data-mode="horizontal" data-slides-per-view="1" data-loop="1">
           <div class="swiper-wrapper">
             <div class="swiper-slide"><h4>DUC VINH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
              <div class="swiper-slide"><h4>MINH HAU</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
              <div class="swiper-slide"><h4>HOANG BICH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
<div class="swiper-slide"><h4>PHAM DEN</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
<div class="swiper-slide"><h4>VAN ANH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
           </div>
           <div class="pagination pagination-hide"></div>
         </div>
      </div>
    </div>
  </div>
</div>    </div>
  </div>
</div>
</div>


	<div class="tab-info">
<div class="team-container">
<div class="team-info">
  <div class="team-member-container active clearfix">
      
          <div class="hotel-block clearfix">
  <div class="hotel-slider">
    <div class="swiper-container" data-slides-per-view="1" data-loop="1" data-mode="vertical">
      <div class="swiper-wrapper">
        <div class="item-list"><ul><li class="first"><%= image_tag("vertical-slide.jpg", typeof: "foaf:Image", :alt => "img", size: "685x800") %></li>
<li><%= image_tag("vertical-slide3.jpg", typeof: "foaf:Image", :alt => "img", size: "1024x768") %></li>
<li><%= image_tag("vertical-slide4.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
<li class="last"><%= image_tag("vertical-slide2.jpg", typeof: "foaf:Image", :alt => "img", size: "1000x865") %></li>
</ul></div>
      </div>
      <div class="pagination vertical-pagination"></div>
    </div>
  </div>
  <div class="hotel-info">
    <div class="hotel-info-container">
      <div><i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i> <i class="t-star"></i></div>
      <h3>Conrad Rangali Island Maldives Hotel</h3>
      <p>Nullam bibendum odio a sem bibendum, ut vestibulum ipsum porttitor. Sed finibus nec orci et cursus. Vestibulum facilisis rhoncus tempor. Duis non ipsum volutpat, rhoncus nisi sed, pulvinar ex augue.</p>
       <div class="field-features-sw-hotel-info-list">
         <div class="item-list"><ul><li class="first"><span>Free</span> wifi</li>
<li><span>128</span> rooms</li>
<li><span>79</span> exotic beach villas</li>
<li><span>50</span> luxurious water spas</li>
<li class="last"><span>21</span> fabulous spa water villas</li>
</ul></div>
       </div>
       <div class="t-testimonials-slider">
         <div class="swiper-container" data-mode="horizontal" data-slides-per-view="1" data-loop="1">
           <div class="swiper-wrapper">
             <div class="swiper-slide"><h4>MELANI GRIFFITH</h4>
<p>Duis non condimentum nunc. Nunc quis turpis eu est tincidunt rutrum. Cras a purus quis sem tincidunt egestas vel id lacus. Nunc sed volutpat erat.</p></div>
           </div>
           <div class="pagination pagination-hide"></div>
         </div>
      </div>
    </div>
  </div>
</div>    </div>
  </div>
</div>
</div>

	
  
  
</div><!-- /.tab-wrapper -->
  </section>  </div>
</div>
  </div>