<div class="region region-onepage-popular-tours">
    <div id="block-views-cf51f780f879d6a804e7395dcd644137" class="block block-views">

    
  <div class="content">
    <section class="popular-tour scroll-to-block">
<div class="container">
<div class="row">
            <div class="col-md-3 col-popular-info">
      <%= image_tag("trico2.png", :alt => "img") %>
      <h2 class="block-title t-about-title">popular tours</h2>
<p class="sub-title t-sub-title">
  Nội dung tours phổ biến
</p>    </div>
  
  
  
      <div class="col-md-9">
      <div class="swiper-container" data-mode="horizontal"   data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="1" data-md-slides="2" data-lg-slides="3" data-loop="0">
        <div class="swiper-wrapper ">
            <div class="swiper-slide">
      
          <div class="t-popular-item">
  <%= image_tag("popular1.jpg", typeof: "foaf:Image" , :alt => "img", size: "270") %>        
  
  <div class="t-popular-box">
    <div class="hot-price">$450.00</div>
    <h3>Budapest, Hungary</h3>
    <p>et orci id purus pretium</p>
  </div>
</div>    </div>
  <div class="swiper-slide">
      
          <div class="t-popular-item">
  <%= image_tag("popular2.jpg", typeof: "foaf:Image" , :alt => "img", size: "270") %>        
  <div class="t-popular-box">
    <div class="hot-price">$450.00</div>
    <h3>Dubai, UAE</h3>
    <p>et orci id purus pretium</p>
  </div>
</div>    </div>
  <div class="swiper-slide">
      
          <div class="t-popular-item">
  <%= image_tag("popular3.jpg", typeof: "foaf:Image" , :alt => "img", size: "270") %>        
  <div class="t-popular-box">
    <div class="hot-price">$450.00</div>
    <h3>Amalfi coast, Italy</h3>
    <p>et orci id purus pretium</p>
  </div>
</div>    </div>
  <div class="swiper-slide">
      
          <div class="t-popular-item">
  <%= image_tag("popular2.jpg", typeof: "foaf:Image" , :alt => "img", size: "270") %>        
  <div class="t-popular-box">
    <div class="hot-price">$450.00</div>
    <h3>Budapest, Hungary</h3>
    <p>et orci id purus pretium</p>
  </div>
</div>    </div>
        </div>
        <div class="pagination pagination-hide"></div>
      </div>
      <div class="arrows t-popular-arrows">
        <div class="arrow-left"><%= image_tag("trh-l-arrow.png", :alt => "arrow") %>
        	
        </div>
        <div class="arrow-right"><%= image_tag("trh-arrow.png", :alt => "arrow") %></div>
      </div>
    </div>
  
  
  
  
  
  
</div>
</div>
</section>  </div>
</div>
  </div>