<div class="region region-onepage-services">
    <div id="block-views-a9fbea96cb57ce3c2284ae4dba8c512e" class="block block-views">

    
  <div class="content">
    <section class="t-service scroll-to-block">
<div class="container">
            <div class="t-title-block">
      <%= image_tag("trico2.png", :alt => "img") %>
      <h2 class="block-title t-about-title">Our services</h2>
<p class="sub-title t-sub-title">
  We have more than 4 services
</p>    </div>
  
  
  
      <div class="row">
        <div class="col-md-3 t-col-serv">
      		<%= image_tag("serv-ico1.png", typeof: "foaf:Image",:alt => "img",size: "55x57") %>
          
<h3>Transport</h3>
<p>New car travel, air conditioning system, driving experience</p>    </div>
  <div class="col-md-3 t-col-serv">
      		<%= image_tag("serv-ico2.png", typeof: "foaf:Image",:alt => "img",size: "43x57") %>
          
<h3>Eating</h3>
<p>Eat the program</p>    </div>
  <div class="col-md-3 t-col-serv">
      	<%= image_tag("serv-ico3.png", typeof: "foaf:Image",:alt => "img",size: "63x57") %>
          
<h3>Tour guide</h3>
<p>Fun, enthusiastic, guides throughout the journey.</p>    </div>
  <div class="col-md-3 t-col-serv">
      		<%= image_tag("serv-ico4.png", typeof: "foaf:Image",:alt => "img",size: "43x57") %>
          
<h3>Insurrance</h3>
<p>Full tuition in accordance with Bao Viet insurance</p>    </div>
    </div>


  
  
  
  
  </div>
</section>  </div>
</div>
  </div>

