
<%= render "inc/header" %>

        
    <div class="container_a_12">
             

              <div class="bottom-spacing123">

                  <!-- Button--> 
                   <% if current_user.name == "admin" %>
                  <div class="float-left">
                      <a href="<%= new_user_path %>" class="button">
                        <span> Thêm User <img src="/assets/images/plus-small.gif" alt="ThêmUser"></span>
                      </a>
                  </div>
                  <% end %>
                  <div class="clear"></div>
            </div>


            <div class="grid_a_12">
                <!-- Example table -->
                <div class="module123">
                  <h2 style="text-align: center;"><span>List Users</span></h2>
                      
                    <div class="module123-table-body123">
                      <form action="">
                        <table id="myTable" class="tablesorter123">
                          <thead>
                                <tr>
                                    <th style="width:4%; text-align: center;">ID</th>
                                    <th>User Name</th>
                                    <th style="width:15%; text-align: center;">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                             <% @users.each do |user| %>
                                <tr>
                                    <td class="align-center"><%= user.id %></td>
                                    <td><%= user.name %></td>
                                    <td align="center">
                                        <% if current_user.name == "admin" %>
                                        <a href=""><%= link_to "Edit", edit_user_path(user)%><img src="/assets/images/pencil.gif" alt="edit" /></a>
                                            <% if user.name != "admin" %>
                                        <a href=""><%= link_to "Delete", user_path(user), method: :delete, data: {confirm:"Bạn có chắc chắn xóa?"} %>
                                        
                                         <img src="/assets/images/bin.gif" width="16" height="16" alt="delete" /></a>
          
                                            <%end%>
                                        <% elsif current_user.name == user.name   %>
                                        <a href=""><%= link_to "Edit", edit_user_path(user)%><img src="/assets/images/pencil.gif" alt="edit" /></a>
                                        <!--<a href="">Xóa <img src="/assets/images/bin.gif" width="16" height="16" alt="delete" /></a>-->

        
                                        <% end %> 
                                   
                                    </td>
                                </tr>
                               <% end %>
                            </tbody>
                        </table>
                        </form>
                     </div> <!-- End .module123-table-body123 -->
                </div> <!-- End .module123 -->
                <div class="pagination123">           
                        <div class="numbers123">
                           <%= paginate @users %>
                        </div> 
                        <div style="clear: both;"></div> 
                     </div>

               </div> <!-- End .grid_a_12 -->

               
            <div style="clear:both;"></div>


<%= render 'inc/footer'%> 