<!DOCTYPE html>
<html lang="en" dir="ltr">


<!-- Mirrored from demo.createdbycocoon.com/drupal/nine/nrgtravel/1/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jan 2018 18:15:32 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>


 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/vnd.microsoft.icon" />
<meta name="Generator" content="Drupal 7 (http://drupal.org)" />
<link rel="alternate" type="application/rss+xml" title="DNTravel RSS" href="rss.xml" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>DNTours_Booking</title>
    <style type="text/css" media="all">

<%= stylesheet_link_tag "application" %>
</style>

  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700,500' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag "application" %>
  
</head>
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-11 node-type-article travel" >
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '165416884141347',
      xfbml      : true,
      version    : 'v2.12'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>



      <div id="loader-wrapper"> 
      <div class="loader-content">
        <div class="cube1 t-cube"></div>
        <div class="cube2 t-cube"></div>
      </div>
    </div>
      <header class="generic-header header">
  <div class="container clearfix nopadding">
    <div id="logo">
      <a>
        <%= image_tag("logo.png", :alt => "DNTours") %>
      </a>
    </div>
          <div class="menu-button  a-menu-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="nav ag-nav  clearfix">
          <div class="region region-main-menu">
        
  <div class="content">
    <ul class="ccn-main-menu"><li class="first leaf"><a href="/home/index#home">Home</a></li>
<li class="leaf"><a href="/home/index#about">About us</a></li>
<li class="leaf"><a href="/home/index#hot-tours">Hot tours</a></li>
<li class="leaf"><a href="/home/index#services">Services</a></li>
<li class="leaf"><a href="/home/index#gallery">Gallery</a></li>
<li class="leaf"><a href="/home/index#hotel-reviews">Reviews</a></li>
<li class="leaf"><a href="/home/index#blog">Blog</a></li>
<li class="leaf"><a href="/home/index#testimonials">Testimonials</a></li>
<li class="last leaf"><a href="/home/index#contact">Contact</a></li>
</ul>  </div>  </div>
      </nav>
      </div>
</header>

<% @p do |tour| %>
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="block-title"></h2>
                <p class="sub-title"><span class="post-meta">admin  |  March 9 / 2015</span></p>
        				
      </div>
    </div>
  </div>
</div>


<div id="ccn_dConsole">
  <div class="container" style="vertical-align: middle;">
  <a href="/bookings/new"><div class="datngay nav-item-serv" style="width: 100%;height: 100% ;text-align: center;font-size: 30px;">
      
          Booking    </div> </a>

                          </div>
</div><!-- /#ccn_dConsole -->

<div class="blog blog-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
               <div class="row">
          <div class="col-md-12 col-sm-12 single-content post">
                     <div class="region region-content">
    <div id="block-system-main" class="block block-system">

    
  <div class="content">
    <article id="node-11" class="node node-article node-promoted node-full clearfix" about="/drupal/nine/nrgtravel/1/post/pellentesque-et-lacinia-eros-condim-entum-hendrerit-nisl-0" typeof="sioc:Item foaf:Document" role="article">
  <div class="content-media">
    <div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even" rel="og:image rdfs:seeAlso" resource="http://demo.createdbycocoon.com/drupal/nine/nrgtravel/1/sites/default/files/styles/large_blog__900x400_/public/popup5.jpg?itok=xzrh_4Wq"><a href="pellentesque-et-lacinia-eros-condim-entum-hendrerit-nisl-0.html" class="active"><%= image_tag(tour.image, typeof: "foaf:Image" , :alt => "image", size: "900x400") %> </a></div></div></div>      </div>


 

  <div class="content-text">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>gngcvnb</p></div></div></div>  </div>


  <div class="content clearfix">
      </div>

      <div class="link-wrapper">
      <ul class="links inline"><li class="comment_forbidden first last">
        
      </li>
</ul>    </div>
  <div class="fb-comments" data-href="https://www.facebook.com/DNToursVietNam/" data-width="100%" data-numposts="5"></div>
</article>
  
  </div>
</div>
  </div>
          </div>
        </div>
          </div>
    </div>
  </div>
</div>
                              
<% end %>
<%= render "home/include/chat" %>   
<%= render "home/include/footer" %>  